DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=website_user
DB_PASSWORD=CHANGE_ME
DB_CORE_NAME=mineacle_core
DB_LITEBANS_NAME=mineacle_litebans
DB_CHARSET=utf8mb4
DB_TIMEOUT=2

SITE_NAME=Mineacle
STATS_URL=/leaderboards
STORE_URL=https://store.mineacle.net/
BANS_URL=#
VOTE_URL=#
DISCORD_URL=#
X_URL=#
YOUTUBE_URL=#
SUPPORT_EMAIL=support@mineacle.net

PLAYER_PROFILES_TABLE=mineacle_web_profiles
TEAMS_TABLE=mineacle_web_teams
PLAYER_FIGHTS_TABLE=mineacle_web_fights
LITEBANS_BANS_TABLE=litebans_bans
LITEBANS_MUTES_TABLE=litebans_mutes
